{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}

{% block head_js %}
  {{ block.super }}
  <script src="https://js.stripe.com/v2/" type="text/javascript"></script>
  <script type="text/javascript">
      //<![CDATA[
      Stripe.publishableKey = '{{ publishable }}';
      //]]>
  </script>
  <script type="text/javascript" src="{% static 'checkout/stripe.js' %}"></script>
{% endblock %}


{% block content %}
  <h2>Sign up as a Seller</h2>
  <form role="form" id="payment-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    {{ user_form | as_bootstrap }}
    {{ seller_form | as_bootstrap }}
    <hr>
    <h2>Card Details</h2>
    {{ card_form | as_bootstrap}}
    <button type="submit">Sign up</button>
  </form>
{% endblock %}