
.menu {
    background-color:#797979;
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}


input {
    width: 100%;
}

.card-img-top img-fluid {
    width: 100%;
}